<h4>Create product</h4>
<form class="container" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title: </label>
  </div>
  <div>
    <input id="title" type="text" formControlName="title" />
  </div>
  <div>
    <label for="description">Description: </label>
  </div>
  <div>
    <input id="description" type="text" formControlName="description" />
  </div>

  <div>
    <label for="price">Price: </label>
  </div>
  <div>
    <input id="price" type="number" formControlName="price" />
  </div>

  <div></div>
  <div><button type="submit">Save</button></div>
</form>
