<app-spinner *ngIf="store.isLoading()"></app-spinner>

<div class="container">
  <h2>Microfrontend 1</h2>
  <h4>{{ shellStore.pageTitle() }}</h4>
  <router-outlet></router-outlet>

  <div class="list-container">
    <a href="mfe1/create">Add new product</a>

    <h3>Products</h3>

    <div *ngFor="let p of store.products()" class="list">
      <div>
        {{ p.title }}
      </div>
      <div>
        {{ p.price | currency }}
      </div>
      <div>
        <button (click)="store.removeProduct(p.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
